<tr>
    <td colspan="8">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row align-items-center text-center">
                    <div class="col">
                        <strong>Appointment #{{ appointment.id }}</strong><br>
                        {% if current_user.role == UserRole.TUTOR %}
                        <strong>Student:</strong><br>
                            <img src="{{ appointment.student.avatar(25) }}">
                            <a href="{{ url_for('user', username=appointment.student.username) }}">{{ appointment.student.username }}</a>
                        {% else %}
                        <strong>Tutor:</strong><br>
                            <img src="{{ appointment.tutor.avatar(25) }}">
                            <a href="{{ url_for('user', username=appointment.tutor.username) }}">{{ appointment.tutor.username }}</a>
                        {% endif %}
                    </div>
                    <div class="col">
                        <strong>Subject:</strong> {{ appointment.subject.name }}<br>
                        <small>{{ appointment.subject.topic }}</small>
                    </div>
                    <div class="col">
                        <strong>Date:</strong> {{ moment(appointment.booking_date).format('LL') }}<br>
                        <strong>Time:</strong> {{ moment(appointment.booking_time).format('LT') }}<br>
                        <span class="badge bg-secondary text-uppercase">{{ appointment.status }}</span>
                    </div>
                    <div class="col">
                        <strong>Created:</strong><br>
                        {{ moment(appointment.created_date).format('LLL') }}
                    </div>
                    <div class="col d-flex flex-column gap-1 align-items-center">
                        <a href="{{ url_for('appointment_update', appointment_id=appointment.id) }}" class="btn btn-primary btn-sm mb-1">Update</a>
                        {% if appointment.status == 'pending' and current_user.role.value != appointment.last_updated_by.value %}
                            <form action="{{ url_for('confirm_appointment', appointment_id=appointment.id) }}" method="post" style="display:inline;">
                                {{ form.hidden_tag() }}
                                <button type="submit" class="btn btn-success btn-sm mb-1">Confirm</button>
                            </form>
                        {% endif %}
                        {% if appointment.status == 'confirmed' and current_user.role == UserRole.TUTOR %}
                            <a href="{{ url_for('begin_appointment', appointment_id=appointment.id) }}" class="btn btn-success">
                                Begin Appointment
                            </a>
                        {% endif %}
                            <form action="{{ url_for('remove_appointment', appointment_id=appointment.id) }}" method="post" style="display:inline;">
                            {{ form.hidden_tag() }}
                            <button type="submit" class="btn btn-danger btn-sm">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>