    <div class="mt-5">
    <h2>Upcoming Appointments</h2>
    {% if current_user.student_appointments %}

    <table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Student</th>
            <th>Tutor</th>
            <th>Subject</th>
            <th>Created Date</th>
            <th>Booking Date</th>
            <th>Booking Time</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in current_user.student_appointments %}
        <tr>
            <td>{{ appointment.id }}</td>
            <td>{{ appointment.student.username }}</td>
            <td>{{ appointment.tutor.username }}</td>
            <td>{{ appointment.subject.name }} - {{ appointment.subject.topic }}</td>
            <td>{{ appointment.created_date.strftime('%m-%d-%Y') }}</td>
            <td>{{ appointment.booking_date.strftime('%m-%d-%Y') }}</td>
            <td>{{ appointment.booking_time.strftime('%H:%M') }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% else %}
        <p>You haven't booked any appointments yet.</p>
    {% endif %}
</div>