<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=post.author.username) }}">
                {% if post.author.profile_picture %}
                    <img src="{{ url_for('static', filename='profile_pictures/' + post.author.profile_picture) }}" class="img-thumbnail mb-0 message-profile-image" alt="User avatar">
                {% else %}
                    <img src="{{ url_for('static', filename='profile_pictures/default.png') }}" class="img-thumbnail mb-0 message-profile-image" alt="User avatar">
                {% endif %}
            </a>
        </td>
        <td>
            {% set user_link %}
                <a class="user_popup" href="{{ url_for('user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            {% endset %}
            <strong>{{ post.author.username }}</strong> said {{ moment(post.timestamp).fromNow() }}
            <br>
            <span id="post{{ post.id }}">{{ post.body }}</span>
        </td>
    </tr>
</table>