{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="main-body">
        <h1><i class="bi bi-book"></i> Manage Your Classes</h1><br>
        <div class="row gutters-sm">
            <div class="col-md-5 mb-3">
                <div class="card shadow">
                    <div class="card-header umb-card-header-blue">
                        <h4 class="mb-0">Add a Class</h4>
                    </div>
                    <div class="card-body">
                        <form action="" method="post" novalidate>
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                <label for "subject" class="form-label">Subject</label>
                                {{ form.subject(class="form-select") }}
                                {% for error in form.subject.errors %}
                                <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                                <div class="form-group mt-3">
                                    {{ form.submit(class="btn btn-success") }}
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card shadow">
                    <div class="card-header umb-card-header-blue">
                        <h4 class="mb-0">Your Current Classes</h4>
                    </div>
                    <div class="card-body p-0">
                        {% if current_user.my_subjects %}
                        <div class="table-responsive">
                            <table class="table table-striped w-100 mb-0">
                                <thead>
                                    <tr>
                                        <th class="py-2">Subject</th>
                                        <th class="py-2">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for subject in current_user.my_subjects %}
                                    <tr>
                                        <td>{{ subject.name }} - {{ subject.topic }}</td>
                                        <td>
                                            <a href="{{ url_for('remove_subject', subject_id=subject.id) }}" class="btn btn-danger btn-sm">Remove</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                            <p>You haven't enrolled in any subjects yet.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}