aiosmtpd
alembic
atpublic
attrs
Babel
blinker
certifi
charset-normalizer
click
dnspython
email-validator
Flask
flask-babel
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
langdetect
Mako
MarkupSafe
packaging
PyJWT
python-dotenv
pytz
requests
setuptools
six
SQLAlchemy
typing_extensions
urllib3
Werkzeug
WTForms