{% extends "base.html" %}

{% block content %}
    
    <h1>Alerts</h1>
    {% if alerts %}
        <ul>
            {% for alert in alerts %}
                {% include '_alert.html' with context %}
            {% endfor %}
        </ul>
        
    {% else %}
        <p>No alerts to display.</p>
    {% endif %}
    
    <h1>Messages</h1>
        {% if messages %}
            {% for post in messages %}
                {% include '_post.html' with context %}
            {% endfor %}
        {% else %}
            <p>No messages to display.</p>
        {% endif %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer Messages
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older Messages <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        // Loop through all alerts and format their timestamps
        document.querySelectorAll('[data-timestamp]').forEach(function (element) {
            const rawTimestamp = element.getAttribute('data-timestamp');
            const formattedTime = moment(rawTimestamp).format('MMMM Do YYYY, h:mm A'); // Example format
            const timestampElement = document.getElementById('formatted-timestamp-' + element.id.split('-')[2]);
            if (timestampElement) {
                timestampElement.textContent = `(${formattedTime})`;
            }
        });
    });
    </script>
{% endblock %}